* {
  box-sizing:border-box;
}
body {
  border:1px solid green;
}
nav {
  display:flex;
  align-items:center;
  justify-content:center;
  margin-bottom:10px;
}
a {
  text-decoration:none;
  margin-right:10px;
  width:100px;
}
a:link {color: #FF0000}
a:visited {color: #00FF00}
a:hover {color: #FF00FF}
a:active {color: #0000FF}